/* Start Global Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #333;

}

html {
    scroll-behavior: smooth;

}

ul {
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
}

/* End Global Rules */

/* Start Vairable */
:root {
    --section-padding: 60px;
    --theme-color: #00c7fc;
    --semi-transparent-theme-color: rgb(39 178 218 / 0.4);
    --semi-transparent-text-color: rgb(0 0 0/0.67);

}

/* End Vairable */

/* Start Components */
.special-heading {
    padding: var(--section-padding) 20px;
    text-align: center;

}

.special-heading p:first-child {
    margin: 0;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: 500;
    letter-spacing: 2px;

}


.special-heading>div {
    width: 200px;
    margin: 40px auto;
    height: 1px;
    background-color: black;
    position: relative;

}

.special-heading>div::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

}

.special-heading p:last-child {
    color: var(--semi-transparent-text-color);
    max-width: 70%;
    margin: auto;

}

@media (max-width: 767px) {
    .special-heading>div {
        max-width: 80%;

    }

}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 30%);

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}


/* Extra Extra Small */
@media (max-width: 576px) {}

/* Extra Small */
@media (max-width: 767px) {
    .container {
        width: calc(100vw - 30px);

    }

}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;

    }

}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;

    }

}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;

    }

}

button,
input[type=submit],
input[type=reset] {
    cursor: pointer;
}

/* End Components */

/* Start Header */
header {
    position: absolute;
    width: 100%;
    color: white;
}

header .container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

}

header .container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0;
    background-color: whitesmoke;


}

header .container a img {
    height: 40px;

}

header .container nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

header .container nav ul {
    display: flex;
    z-index: 2;

}

header .container nav ul li a {
    display: block;
    padding: 40px 10px;
    text-transform: uppercase;
    font-size: medium;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header .container nav ul li a:hover {
    border-bottom-color: var(--theme-color);
    color: var(--theme-color);


}

header .toggle-menu {
    display: none;
    font-size: 1.5em;

}

header .container nav .form {
    /* padding: 30px 0; */
    margin-left: 30px;
    cursor: pointer;

}

header .container nav .form i {
    padding: 10px 0 10px 10px;
    border-left: 1px solid white;

}

@media (max-width: 767px) {
    header .container nav ul {
        display: none;

    }

    header .toggle-menu {
        display: initial;

    }


    header .toggle-menu:hover+ul {
        display: initial;
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);

    }

    header .container nav ul li a {
        padding: 20px;
        font-size: small;

    }

}


/* End Header */
/* Start Landing */
.landing {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    color: white;
    z-index: -1;

}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 60%;
    background-color: var(--semi-transparent-theme-color);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.landing .text .content {
    max-width: 60%;

}

.landing .text .content p:not(:last-child) {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.landing .text .content p:last-child {
    margin-top: 50px;
    line-height: 2;

}

.landing .right-arrow {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.landing .left-arrow {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 2;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.landing .bullets li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px whitesmoke solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.landing .bullets li:nth-of-type(2) {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    background-color: var(--theme-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
        display: initial;
        text-align: center;

    }

    .landing .text .content {
        margin: 0 auto;
        max-width: 100%;

    }

    .landing .left-arrow,
    .landing .right-arrow {
        display: none;

    }

}

@media (max-width: 991px) and (min-width: 767px) {
    .landing .text {
        width: 80%;

    }

}

@media (max-width: 576px) {
    .landing .text .content p:not(:last-child) {
        font-size: 1.5rem;

    }

    .landing .text {
        top: 53%;
        padding: 10px 5px;

    }

}

/* End Landing */
/* Start Services */
.services {
    background-color: white;
    padding: var(--section-padding) 0;

}

.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 100px;
    row-gap: 80px;
}

.services .content i {
    margin-right: 50px;

}

.services .content .serv {
    display: flex;
    justify-content: space-between;

}

.services .content .serv .text h3 {
    color: var(--theme-color);
    font-size: 1.5rem;
    font-weight: 500;

}

.services .content .serv .text p {
    margin-top: 30px;
    line-height: 2;
    color: var(--semi-transparent-text-color);

}

@media (max-width: 767px) {
    .services .content .serv {
        flex-direction: column;
        text-align: center;

    }

    .services .content i {
        margin: 0 0 30px;
    }

    .services .content {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }

}

/* End Services */
/* Start Design */
.design {
    padding: var(--section-padding) 0;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
    background-image: url("../images/design_01.jpg");
    background-size: cover;
    position: relative;

}

.design .figure {
    position: absolute;
    z-index: 1;
    right: 50%;
    margin-right: 100px;
    bottom: -100px;
}

.features-box {
    width: 50%;
    color: white;
    z-index: 1;
    background-color: var(--semi-transparent-theme-color);
    padding: 60px;

}

.features-box>p {
    text-transform: uppercase;
    font-size: x-large;

}

.features-box ul {
    margin-top: 30px;

}

.features-box ul li {
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;

}

.features-box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f26c";
    font-weight: 600;
    margin-right: 30px;
}

.features-box ul li p {
    display: inline;

}

@media (max-width: 767px) {
    .design .figure {
        display: none;

    }

    .features-box {
        width: 100%;
        padding: 60px 30px;

    }


}

/* End Design */
/* Start Portfolio */
.portfolio {
    background-color: white;
    padding-bottom: var(--section-padding);

}

.portfolio ul {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    text-transform: uppercase;


}

.portfolio ul li {
    padding: 10px 15px;

}

.portfolio ul .active {
    background-color: var(--theme-color);
    color: white;


}

.portfolios-box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}

.portfolios-box .portf {
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.portfolios-box .portf::before {
    opacity: 0;
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    z-index: 2;
    color: white;
    font-size: 70px;
    text-align: center;
    line-height: 0.8;
    font-weight: lighter;
    background-color: var(--theme-color);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.portfolios-box .portf:hover::before {
    opacity: 1;

}

.portfolios-box .portf img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.portfolios-box .portf:hover img {
    transform: rotate(-3deg) scale(1.1);
    -webkit-transform: rotate(-3deg) scale(1.1);
    -moz-transform: rotate(-3deg) scale(1.1);
    -ms-transform: rotate(-3deg) scale(1.1);
    -o-transform: rotate(-3deg) scale(1.1);
}

.portfolios-box .title {
    display: initial;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    padding: 20px;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.portfolios-box .portf:hover .title {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.portfolios-box .title p {
    text-transform: capitalize;

}

.portfolios-box .title p:first-child {
    font-size: 1rem;

}

.portfolios-box .title p:last-child {
    margin-top: 5px;
    color: var(--theme-color);
    font-size: 0.8rem;

}

.portfolio button {
    display: block;
    padding: 10px 50px;
    background-color: var(--theme-color);
    border: none;
    color: white;
    margin: 30px auto;
    text-transform: capitalize;

}

/* End Portfolio */
/* Start Video Section */
.video-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;

}


.video-section .content {
    position: absolute;
    background-color: var(--semi-transparent-theme-color);
    top: 50%;
    left: 50%;
    width: 100%;
    padding: var(--section-padding) 0;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.video-section .content h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: x-large;

}

.video-section .content p {
    margin: 30px 0;

}

.video-section .content button {
    width: 130px;
    height: 30px;
    background-color: #333;
    border: none;
    color: white;
    text-transform: uppercase;
}

/* End Video Section */
/* Start About */
.aAbout {
    background-color: white;
    overflow: hidden;

}

.aAbout .figure {
    text-align: center;

}

.aAbout .figure img {
    margin-top: -60px;
    transform: translate(0, 65px);
    -webkit-transform: translate(0, 65px);
    -moz-transform: translate(0, 65px);
    -ms-transform: translate(0, 65px);
    -o-transform: translate(0, 65px);
}

@media (max-width: 767px) {
    .aAbout .figure img {
        transform: translate(-26%, 91px) scale(0.7);
        -webkit-transform: translate(-26%, 91px) scale(0.7);
        -moz-transform: translate(-26%, 91px) scale(0.7);
        -ms-transform: translate(-26%, 91px) scale(0.7);
        -o-transform: translate(-26%, 91px) scale(0.7);
    }

}

/* End About */

/* Start Statistic */
.statistic {
    background-image: url("../images/statistic.jpg");
    background-size: cover;
    text-align: center;
    padding: var(--section-padding) 0;
    position: relative;

}


.statistic .container {
    display: flex;
    background-color: var(--semi-transparent-theme-color);
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

}

.statistic .container .stat-box {
    flex-basis: 25%;
    color: white;
    padding: 20px 50px 50px;

}

.statistic .container .stat-box .num {
    margin: 10px 0 20px;
    font-size: 4rem;
    font-weight: bolder;

}

@media (max-width: 767px) {
    .statistic .container .stat-box {
        flex-basis: 100%;

    }

}

@media (min-width: 768px) {
    .statistic .container .stat-box {
        flex-basis: 50%;

    }

}

@media (min-width: 992px) {
    .statistic .container .stat-box {
        flex-basis: 25%;

    }

}

/* End Statistic */

/* Start Skills */
.skills-section {
    background-color: white;
    padding: var(--section-padding) 0;

}

.skills-section .container {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;

}

.skills-section .container>div {
    flex-basis: calc(50% - 86px);

}

.skills-section .heading {
    text-align: center;
    margin-bottom: 100px;

}

.skills-section .heading p:first-child {
    margin-bottom: 20px;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: normal;

}

.skills-section .heading p:last-child {
    max-width: 100%;
    color: var(--semi-transparent-text-color);

}

.skills-section .container .Testimonials .testimonial-box {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

}

.skills-section .container .Testimonials .testimonial-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.skills-section .container .Testimonials .testimonial-box .text {
    flex-basis: 70%;
    line-height: 1.8;
    border-bottom: 2px solid #cecece;

}

.skills-section .container .Testimonials .testimonial-box .text p {
    margin-bottom: 15px;
    text-align: end;
    font-style: italic;
    color: #a9a9a9;

}

.skills-section .container .Testimonials .bullets {
    margin: var(--section-padding) auto 0;
    display: flex;
    justify-content: center;


}

.skills-section .container .Testimonials .bullets li {
    display: inline-block;
    width: 13px;
    aspect-ratio: 1/1;
    margin: 0 3px;
    border: 1px #333 solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.skills-section .container .Testimonials .bullets .active {
    background-color: var(--theme-color);
    border: none;

}

.skills-section .box {
    margin-bottom: 40px;
    text-transform: uppercase;

}

.skills-section .box p {
    margin-left: 10px;
    margin-bottom: 10px;

}

.skills-section .box .loading-bar {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: lightgray;

}

.skills-section .box .loading-bar span {
    display: block;
    height: 100%;
    background-color: var(--theme-color);
    position: relative;

}

.skills-section .box .loading-bar span::before {
    content: attr(data-progress);
    position: absolute;
    padding: 5px 10px;
    top: -39px;
    right: 0;
    color: white;
    background-color: black;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.skills-section .box .loading-bar span::after {
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    border: 5px transparent solid;
    border-top-color: black;
    transform: translate(50%, 50%);
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
}

@media (max-width: 992px) {
    .skills-section .container {
        flex-direction: column;
        gap: 60px;

    }

    .skills-section .Testimonials .testimonial-box {
        flex-direction: column;
        align-items: center;
        gap: 30px;

    }

}

/* End Skills */
/* Start Quote */
.quote {
    padding: 130px 0;
    text-align: center;
    color: white;
    background-image: url("../images/quote.png");
    background-size: cover;
    position: relative;

}

.quote .container {
    position: relative;
    z-index: 2;

}

.quote q {
    text-transform: uppercase;
    font-size: x-large;
    /* quotes: "'" ""; */

}

.quote q::before {
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    font-weight: 600;
    font-size: 1rem;
    vertical-align: top;
    margin-right: 2px;

}

.quote q::after {
    font-family: "Font Awesome 5 Free";
    content: "\f10e";
    font-weight: 600;
    font-size: 1rem;
    vertical-align: top;
    margin-left: 2px;

}

.quote p {
    margin-top: 30px;

}

/* End Quote */
/* Start Pricing */
.pricing {
    padding-bottom: var(--section-padding);
    background-color: white;

}

.pricing .plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

}

.pricing .plans .box {
    flex-basis: calc(25% - 25px);
    background-color: #f7f7f7;
}

.pricing .plans .box .price {
    padding: 30px 0;
    text-transform: uppercase;
    border-top: 1px solid var(--theme-color);
    border-bottom: 1px solid var(--theme-color);

}


.pricing .plans .box .price h2 {
    display: inline-block;
    font-size: 4rem;
    font-weight: 600;
    margin: 20px auto;
    position: relative;

}


.pricing .plans .box .price h2::before {
    position: absolute;
    content: "$";
    vertical-align: top;
    font-size: 1.5rem;
    left: -20px;

}

.pricing .plans .box .price h2::after {
    position: absolute;
    content: "/MO";
    vertical-align: bottom;
    font-size: 1rem;
    bottom: 10px;
    right: -40px;

}

.pricing .plans .box .features {
    border-bottom: 1px solid var(--theme-color);

}

.pricing .plans .box .features li {
    padding: 30px;
    width: fit-content;
    margin: auto;

}

.pricing .plans .box .features li:not(:last-child) {
    border-bottom: 1px solid var(--theme-color);

}

.pricing .plans .box button {
    margin: 40px auto;
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid var(--theme-color);

}

/* Most Purchased */

.pricing .plans .box.most-purchased {
    position: relative;
    color: white;
    box-shadow: 2px 2px 2px 1px darkmagenta;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.pricing .plans .box.most-purchased::before {
    content: "MOST PURCHASED    ";
    position: absolute;
    width: max-content;
    left: 50%;
    padding: 8px;
    background-color: white;
    color: darkmagenta;
    border: 3px solid red;
    border-radius: 10px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.pricing .plans .box.box.most-purchased .price {
    border-top: none;
}

.pricing .plans .box.box.most-purchased {
    background-image: linear-gradient(135deg, red, purple);

}

.pricing .plans .box.most-purchased button {
    color: inherit;

}


.pricing .container>p {
    margin-top: 50px;
    text-align: center;
    font-size: 1.3rem;

}

.pricing .container>button {
    display: block;
    padding: 15px 35px;
    color: inherit;
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    margin: 40px auto 0;

}

@media (max-width: 992px) {
    .pricing .plans {
        display: flex;
        justify-content: space-between;
        text-align: center;
        gap: 50px;

    }

    .pricing .plans .box {
        flex-basis: calc(50% - 25px);
    }

}

@media (max-width: 767px) {
    .pricing .plans {
        flex-direction: column;

    }


}

/* End Pricing */
/* Start Subscribe */
.subscribe {
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    padding: 100px 0;
    position: relative;

}

.subscribe .container {
    display: flex;
    gap: 20px;
    color: white;
    position: relative;
    z-index: 2;


}

.subscribe .container form {
    flex-basis: 70%;
    border: 1px white solid;
    display: flex;
    flex-grow: 1;

}

.subscribe .container form i {
    padding: 20px;

}

.subscribe .container form input {
    background-color: transparent;

}

.subscribe .container form input[type="email"] {
    border: none;
    flex: 1;
    color: inherit;
    outline: 0;
    caret-color: var(--theme-color);

}

.subscribe .container form input[type="submit"] {
    border: none;
    color: inherit;
    background-color: var(--theme-color);
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;

}

.subscribe .container p {
    align-self: center;
    flex-shrink: 2;
    line-height: 1.5;

}

@media (max-width: 992px) {
    .subscribe .container {
        flex-wrap: wrap;

    }

    .subscribe .container p {
        text-align: center;

    }

    .subscribe .container form i {
        padding: 20px 20px;

    }

    .subscribe .container form input[type="submit"] {
        padding-left: 10px;
        padding-right: 10px;

    }


}

/* End Subscribe */
/* Start Contact */
.contact {
    background-color: white;
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    gap: 30px;

}

.contact .content form {
    flex-basis: 70%;

}

.contact .content form textarea {
    height: 300px;

}

.contact .content form *:not([type="submit"]) {
    display: block;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;

}

.contact .content form *:not([type="submit"])::placeholder {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.contact .content form input[type="submit"] {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    padding: 20px 50px;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: var(--theme-color);

}

.contact .content .info {
    font-size: 0.9rem;
}

.contact .content .info h4 {
    text-transform: uppercase;
    font-weight: normal;
    font-weight: bold;
    font-size: larger;

}

.contact .content .info h4:last-of-type {
    margin-top: 100px;

}

.contact .content .info span,
.contact .content .info address {
    display: block;
    color: var(--semi-transparent-text-color);
    line-height: 2;

}

@media (max-width: 992px) {
    .contact .content {
        /* flex-wrap: wrap-reverse; */
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

    }

    .contact .content form {
        flex-basis: 100%;

    }

    .contact .content .info {
        order: -1;
        /*same as making .content wrap-reverse */

    }

    .contact .content .info h4:last-of-type {
        margin-top: 30px;

    }

    .contact .content form input[type="submit"] {
        margin-right: auto;

    }

}

/* End Contact */
/* Start Footer */
footer {
    padding: calc(var(--section-padding) / 2) 0;
    background-image: url("../images/footer.jpg");
    background-size: cover;
    position: relative;
    color: white;

}

footer .overlay {
    background-color: rgb(0 0 0 / 60%);

}

footer .container {
    text-align: center;
    position: relative;
    z-index: 2;

}

footer img {
    height: 45px;
    margin: 60px 0;

}

footer .container>p:first-of-type {
    width: fit-content;
    padding: 20px 40px;
    margin: auto;
    border-bottom: 1px white solid;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;

}

footer .links {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

footer .container>p:last-of-type {
    margin-top: 100px;
    text-transform: capitalize;

}

footer .container>p:last-of-type span {
    color: var(--theme-color);

}

/* End Footer */